.mainPerfilScreen h5 {
    padding: 1rem;
    text-align: center;
}

.mainPerfilScreen h4 {
    padding: 2rem;
    text-align: center;
}

.detalhes {
    padding: 1rem;
}

.acoes {
    padding: 2rem;
    float: right;
}

.perfil {
    padding: 2rem;
}

.avatar {
    max-width: 120px;
    padding: 1rem;
    background-color: #ccc;
}

.dados {
    margin-top: 1rem;
}

.text-right {
    float: right;
}

.cartao {
   margin-top: 1rem;
}

.cartao a {
    color: #fff;
}

.cardtop {
    justify-content: space-between;
    padding: 1rem;
}

.card em {
    color: red;
}

.obs small{
    font-style: italic;
}