.mainUserScreen {
    z-index: -1;
}

.mainUserScreen h4 {
    padding: 2rem;
    text-align: center;
}

.vagas h5 {
    padding-top: 2rem;
}

.vagas span {
    font-style: italic;
}

.text-right {
    float: right;
}

.descricao {
    padding: 2rem;
}

#destaque a{
    color: #fff;
 }