.mainUserScreen {
    z-index: -1;
}

.mainUserScreen h4 {
    padding: 2rem;
    text-align: center;
}

.vagas h5 {
    padding-top: 2rem;
}

.text-right {
    float: right;
}

#status {
    float: right;
}

.vagas a {
    color: rgb(116, 113, 113);
}

.darkLink a {
    color: rgb(116, 113, 113);
}

.aprovacao {
    padding: 1rem;
}

