.mainUserScreen {
    z-index: -1;
}

.mainUserScreen h4 {
    padding: 2rem;
    text-align: center;
}

.vagasdestaque h5 {
    padding-top: 2rem;
}

.vagasdestaque a {
    color: #fff;
}

.text-right {
    float: right;
}

.form h5 {
    text-align: center;
}